<!DOCTYPE html>
<html>
<head>
	<title>Keg Health Meter - 1/5</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>


<body>
	<h1>Keg Health Meter</h1>
	<img src="/static/keg-srm14-1.png" alt="keg_1" style="width:512px;height:512px">
	<p>It would appear that your keg was mortally wounded and has lost a lot a fluid, we advise you to get you keg to a medical professional at your earliest convenience  [1/5]</p>

	<footer>This message was brought to you by The Fucntional Alcoholic Resource Management System (FARMS)</footer>
</body>

</html>
